@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: content-box;
}
.fylo {
  background-color: hsl(217, 28%, 15%);
  background-image: url("./assets/images/bg-curvy-desktop.svg");
  text-decoration: none;
  position: relative;
}
.contanier {
  margin: 0 100px;
  text-decoration: none;
}
body {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: hsl(218, 28%, 13%);
}
a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
h1,
nav {
  font-family: "Raleway", sans-serif;
}
